{% extends 'headerfooter.html' %}
{% block content %}
<div class="container">
		<div class="register">
		<h2 style="font-size: 45px;font-family:caveat;">UPDATE PASSWORD</h2>		
		<div class=" register-top">
			<form action="/forgotpassword/" method="POST">
				{% csrf_token %}
			<div>
				<p style="text-align: center;">{{msg}}</p>
			</div>
			<div> 	
			<span>First Name</span>
			<input type="text" name="rFname" > 
			</div>
			<!-- <div> 	
				<span>Last Name</span>
				<input type="text" name="rLname" value="{{x.lname}}"> 
			</div>
			<div> 	
				<span>Email</span>
				<input type="text" name="rEmail" value="{{x.email}}"> 
			</div>
			<div> 
				<span >Password</span>
				<input type="password" name="rPassword" value="{{x.password}}">
			</div> -->	
				<input type="submit" value="change password"> 
			</form>
		</div>		
	</div>
{% endblock %}