{% extends 'headerfooter.html' %}
{% block content %}
	<div class="banner">
	<div class="container">
		<div class="banner-matter">
			<h1 style="font-size: 45px;font-family:caveat;">Get active get running<span>push your limits</h1>
				<h2 style="color: white;">{{msg}}</h2>
			<div class="out">
				<a href="/product/" class="find" style="font-family: caveat;">FIND OUT MORE </a>
				<a href="/product/" class="shop" style="font-family: caveat;">SHOP</a>
				<div class="clearfix"> </div>
			</div>
		</div>	
		</div>
	</div>
<!---->
<div class="content">
	<div class="sport-your">
<!-- requried-jsfiles-for owl -->
							<link href="/static/css/owl.carousel.css" rel="stylesheet">
							    <script src="/static/js/owl.carousel.js"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo").owlCarousel({
									        items : 5,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  true,
									        pagination : false,
									      });
									    });
									  </script>
							 <!-- //requried-jsfiles-for owl -->

		<!-- start content_slider -->
		<div class="line1">
	
		</div>
		<div id="example1">
		<div id="owl-demo" class="owl-carousel text-center">
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic.jpg" alt="">
				<div class="run">
					<i> </i>
					<p>RUNNING</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic1.jpg" alt="">
				<div class="run">
					<i class="foot-in"> </i>
					<p>FOOTBALL</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic2.jpg" alt="">
				<div class="run">
				<i class="cycling"> </i>
				<p>CYCLING</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic3.jpg" alt="">
				<div class="run">
				<i class="fitness"> </i>
				<p>FITNESS</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic4.jpg" alt="">
				<div class="run">
				<i class="tennis"> </i>
				<p>TENNIS</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic.jpg" alt="">
				<div class="run">
				<i> </i>
				<p>RUNNING</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic1.jpg" alt="">
				<div class="run">
					<i class="foot-in"> </i>
					<p>FOOTBALL</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic2.jpg" alt="">
				<div class="run">
				<i class="cycling"> </i>
				<p>CYCLING</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic3.jpg" alt="">
				<div class="run">
				<i class="fitness"> </i>
				<p>FITNESS</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic4.jpg" alt="">
				<div class="run">
				<i class="tennis"> </i>
				<p>TENNIS</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="/product/" title="image" rel="title1">
					<img class="img-responsive " src="/static/images/pic.jpg" alt="">
				<div class="run">
				<i> </i>
				<p>RUNNING</p>
				</div>
				</a>
			</div>
		</div>
		</div>
		<h6 class="your-in">Your sport</h6>
		<div class="line2">
	
		</div>
	</div>
		<!--//sreen-gallery-cursual---->
	<div class="content-grids" style="background-color:transparent;">
		{% for x in data %}
		<div class="col-md-3 content-grid">
		{% if request.session.userid %}
		<a href="/single/?pid={{x.id}}" class="lot"><img class="img-responsive " src="{{x.image.url}}" alt=""></a>
		<div class="shoe">
			<p>{{x.name}}</p>
			<span class="money"><span><del>&#8377;2999</del></span>&#8377; {{x.price}}</span>
			<a href="/product/">find a store</a>
		</div>
		<div class="shoe-in" style="float: right;margin: 25px 25px;">
				<a href="/feedback/?pid={{x.id}}" style="color:#fff;padding: 7px 20px;background: #d2232a;">Feedback</a><br>
			</div>
		<div class="clearfix"> </div>
		<!-- <b class="plus-in">+</b> -->
	</div>
		{% elif request.session.myid %}
		<img class="img-responsive " src="{{x.image.url}}" alt="">
		<div class="shoe">
			<p>{{x.name}}</p>
			<span class="money"><span><del>&#8377;2999</del></span>&#8377; {{x.price}}</span>
			<a href="/product/">find a store</a>
		</div>
		<div class="clearfix"> </div>
		<!-- <b class="plus-in">+</b> -->
	</div>
		{% else %}
		<img class="img-responsive " src="{{x.image.url}}" alt="">
		<div class="shoe">
			<p>{{x.name}}</p>
			<span class="money"><span><del>&#8377;2999</del></span>&#8377; {{x.price}}</span>
			<a href="/product/">find a store</a>
		</div>
		<div class="clearfix"> </div>
		<!-- <b class="plus-in">+</b> -->
	</div>
	{% endif %}
	{% endfor %}
<!-- 	<div class="col-md-4 content-grid">
		<a href="/product/" class="lot"><img class="img-responsive " src="/static/images/sh.png" alt=""></a>
		<div class="shoe">
			<p>Nike 3.0 V4 Men Grey Royal
			Blue with White</p>
			<label>$67.99</label>
			<a href="/product/">find a store</a>
		</div>
		<div class="clearfix"> </div>
		<b class="plus-in">+</b>
	</div>
	<div class="col-md-4 content-grid">
		<a href="/product/" class="lot"><img class="img-responsive " src="/static/images/sh1.png" alt=""></a>
		<div class="shoe">
			<p>Nike 3.0 V4 Men Grey RoyalBlue with White</p>
			<label>$67.99</label>
			<a href="/product/">find a store</a>
		</div>		
		<div class="clearfix"> </div>
		<b class="plus-in">+</b>
	</div>
	<div class="col-md-4 content-grid">
		<a href="/product/" class="lot"><img class="img-responsive " src="/static/images/sh2.png" alt=""></a>
		<div class="shoe">
			<p>Nike 3.0 V4 Men Grey RoyalBlue with White</p>
			<label>$67.99</label>
			<a href="/product/">find a store</a>
		</div>
		
		<div class="clearfix"> </div>
		<b class="plus-in">+</b>
	</div> -->
	
	<div class="clearfix"> </div>
	</div>
	<!---->
	<!-- <div class="content-top">
		<div class="col-md-4 top-content">
			<a href="/product/"><img class="img-responsive " src="/static/images/pi.jpg" alt=""></a>
		</div>
		<div class="col-md-4 top-content">
			<a href="/product/"><img class="img-responsive " src="/static/images/pi1.jpg" alt=""></a>
		</div>
		<div class="col-md-4 top-content">
			<a href="/product/"><img class="img-responsive " src="/static/images/pi2.jpg" alt=""></a>
		</div>
		
		<div class="clearfix"> </div>
	</div> -->
	<div class="content-bottom">
		<div class="col-md-8 bottom-content">
			<script src="/static/js/responsiveslides.min.js"></script>
					<script>
						$(function () {
						  $("#slider").responsiveSlides({
							auto: true,
							speed: 500,
							namespace: "callbacks",
							pager: false,
							 nav:true,
						  });
						});
					</script>
					<div class="slider">
						<div class="callbacks_container">
						  <ul class="rslides" id="slider">
							<li>
							  <img src="/static/images/vi.jpg" alt="">
							  
							</li>
							<li>
							  <img src="/static/images/v2.jpg" alt="">
								
							</li>
							<li>
							  <img src="/static/images/vi.jpg" alt="">
							  
							</li>
						  </ul>
					  </div>
					  <div class="london">
						<h5>London Marathon 2013</h5>
						<p>24/2013 - 6Mins</p><br>
						<br>
						<h5>Running -</h5>
						<p><i>“This is the truth. The clock doesn’t stop until you force it to.  That is the elegant beauty of track.  It is the simplest, and hardest, of sports.  Hear a gun go off, and run fast.  That’s the simple part.  The hard part is, run faster than anybody else out there.  This is the truth.  The clock will run until somebody makes it stop.  It might as well be you, don’t you think?”</i></p>
					  </div>
					  <div class="shoes">
					  	
					  </div>
					</div>
		</div>
		<div class="col-md-4 bottom-grid">
		<h4> Sport Quotes</h4>
			<div class="news">
				<span>Football</span>
				<p><i>"Life is like a soccer. You need goals. If there are no goals in your life then you can't win"</i></p>
				<div class="foot">
				</div>
			</div>
			<div class="news">
				<span>Cricket</span>
				<p><i>"Life is simply a cricket match, with temptation as the bowler"</i></p>
				<div class="foot">
				</div>
			</div>
			<div class="news">	
				<span>Basketball</span>
				<p><i>"Basketball isn't a sport. It's an art, one that must be mastered to succeed"</i></p>
				<div class="foot">
				</div>
			</div>
			<div class="news">	
				<span>Hockey</span>
				<p><i>"Hockey goals are attained not by strength but by perseverance"</i></p>
				<div></div>
			</div>
		</div>
	<div class="clearfix"> </div>
	</div>
</div>	
{% endblock %}