{% extends 'headerfooter.html' %}
{% block content %}
<div class="container">
		<div class="register">
		<h2>LOGIN</h2>		
		<div class=" register-top">
			<form action="/login/" method="POST">
				{% csrf_token %}
			<div>
				<p style="text-align: center;">{{msg}}</p>
			</div>
			<div> 	
			<span>User Name</span>
			<input type="text" name="rFname"> 
			</div>
			<!-- <div> 	
				<span>Last Name</span>
				<input type="text" name="rLname"> 
			</div>
			<div> 	
				<span>Email</span>
				<input type="text" name="rEmail"> 
			</div> -->
			<div> 
				<span >Password</span>
				<input type="password" name="rPassword">
			</div>				
				<input type="submit" value="login"> 
				<div class="rem-for-agile">
				<input type="checkbox" name="remember" class="remember">Remember me<br>
				<a href="/forgotpassword/">Forgot Password</a><br>
			</div>
			</form>
		</div>		
	</div>
	</div>
{% endblock %}