{% extends 'headerfooter.html' %}
{% block content %}
<div class="container">
		<div class="register">
		<h2>REGISTER</h2>		
		<div class=" register-top">
			{% for x in data %}
			<form action="/ownerchangepassword/?uid={{x.id}}" method="POST">
				{% csrf_token %}
			<div>
				<p style="text-align: center;">{{msg}}</p>
			</div>
			<!-- <div> 	
			<span>First Name</span>
			<input type="text" name="rFname" value="{{x.fname}}"> 
			</div>
			<div> 	
				<span>Last Name</span>
				<input type="text" name="rLname" value="{{x.lname}}"> 
			</div>
			<div> 	
				<span>Email</span>
				<input type="text" name="rEmail" value="{{x.email}}"> 
			</div> -->
			<div> 
				<span >Password</span>
				<input type="password" name="rPassword" >
			</div>				
				<input type="submit" value=" update "> 
			</form>
			{% endfor %}
		</div>		
	</div>
	</div>
{% endblock %}