{% extends 'headerfooter.html' %}
{% block content %}
<div class="product-grids">
	<div class="container">
	<div class="product-top">
		{% for x in data %}
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/?pid={{x.id}}"><img class="img-responsive " src="{{x.image.url}}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="/single/?pid={{x.id}}">{{x.name}}</a></h6>
				<!-- <label>$67.99</label> -->
				<span class="money"><span><del>&#8377;2999</del></span>&#8377; {{x.price}}</span>
				<a href="/single/?pid={{x.id}}" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>
		</div>
		{% endfor %}
		<!-- <div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/pr1.png" alt=""></a>
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/pr2.png" alt=""></a>
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
	
			<b class="plus-on">+</b>
		</div>
		</div>
	<div class="clearfix"> </div>
	</div>	
	<div class="product-top">
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/pr3.png" alt=""></a>		
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>	
		</div>
	<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/pr4.png" alt=""></a>
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/sh.png" alt=""></a>
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
		
			<b class="plus-on">+</b>
		</div>
		</div>
	<div class="clearfix"> </div>
	</div>
	<div class="product-top">
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/sh2.png" alt=""></a>		
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>	
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/pr1.png" alt=""></a>
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
		
			<b class="plus-on">+</b>
		</div>
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a href="/single/"><img class="img-responsive " src="/static/images/pr.png" alt=""></a>
			<div class="shoe-in">
				<h6><a href="/single/">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="/single/" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>
		</div> -->
	<div class="clearfix"> </div>
	</div>
	</div>
</div>
	<!---->
{% endblock %}