{% extends 'headerfooter.html' %}
{% block content %}
<div class="container">
		<div class="register">
		<h2>UPDATE PRODUCTS</h2>		
		<div class=" register-top">
			{% for x in data %}
			<form action="/updateproduct/?pid={{x.id}}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
			<div>
				<p style="text-align: center;">{{msg}}</p>
			</div>
			<div> 	
			<span>Name</span>
			<input type="text" name="pName" value="{{x.name}}"> 
			</div>
			<div> 	
				<span>Price</span>
				<input type="number" name="pPrice" value="{{x.price}}"> 
			</div>
			<div class="field-group"> 
				<div class="content-input-field">
				<img src="{{x.image.url}}" width="100" height="100">
				<div class="field-group">
					<p>do you want to update image?</p>
					<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" id="inlineCheckbox1" name="img" onchange="myFunction();" value="yes">
					<label class="form-check-label" for="inlineCheckbox1">yes</label>
				    </div>
				    <div class="form-check form-check-inline">
				    <input class="form-check-input" type="radio" id="inlineCheckbox2" name="img" onchange="myFunction();" value="no">
					<label class="form-check-label" for="inlineCheckbox2">no</label>
				    </div>
				</div>
				<input type="file" name="pImage" > 
			</div>
			<!-- <div> 
				<span >Password</span>
				<input type="password" name="rPassword">
			</div>	 -->			
				<input type="submit" value="update"> 
			</form>
			{% endfor %}
		</div>		
	</div>
	</div>
{% endblock %}